body {
    background-image: url("Carbon_Metal_Pattern-PIXEDEN.png");
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    color: beige;
}
form {
    color: rgb(76, 196, 170);
}
.abschicken {
    color: black;
    background-color: forestgreen;
    font-size: 105%;
}
.abschicken2 {
    color: black;
    background-color: crimson;
    font-size: 105%;
}
h1 {
    color: rgb(76, 196, 170);
    text-align: center;
    font-size: 2.3em;
}
h2 {
    color: beige;
}
h3 {
    color: beige;
}
.danksagung {
    color: rgb(76, 196, 170);
    text-align: center;
}
li {
    color: beige;
}
.registrieren {
    color: black;
}
a:link {
    color: rgb(76, 196, 170);
}
a:visited {
    color: rgb(76, 196, 170);
}
.anmerkung {
    color: crimson;
    text-align: center;
}
#ankreuzen {
    color: beige;
}
