body {
    background-image: url("Carbon_Metal_Pattern-PIXEDEN.png");
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}
h1 {
    color: rgb(76, 196, 170);
    text-align: center;
    font-size: 2em;
}
h2 {
    color: rgb(76, 196, 170);
}
h3 {
    color: rgb(76, 196, 170);
}
a:link {
    color: rgb(76, 196, 170);
}
a:visited {
    color: rgb(76, 196, 170);
}
.mail {
    color: rgb(76, 196, 170);
}
.tel {
    color: rgb(76, 196, 170)
}